
.imagenAccesorios{
    width: 1711px;
    height: 597px;
}

.fotosAcessorios{
    display: grid;
    margin: 49px;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
    





.imgAccesorios{
    padding: 63px;
    border: 1px solid black;
}











