*{
    margin: 0;
    padding: 0px;
}
.fondoPantalla{
    background-image: url(http://bettcomm.com/themes/classic/assets/img/fondotransparente.jpg);
    background-repeat: round;
    background-attachment: fixed;
    background-position: center center;
}
.carousel{
    margin: 41px;
    height: 611px;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: rgb(212, 211, 206);
  }
.contenedorFotos{
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
}
.row{
    justify-content: center;
}
.w-100 {
       height: 600px;
} 
.card{
    margin: 55px;
    border-block-start-style: none;
}
h1{
    margin: 42px;
    text-align: center;
}
.fotoAbajo{
    max-width: 100%;
    height: auto;
}
.linkFoto{
    text-decoration: none;
    clear: both;
    color: #7a7a7a;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.correo{
    width: 50%;
}
footer {
    background-image: url(http://bettcomm.com/themes/classic/assets/img/fondotransparente.jpg);
    width: 99%;
    height: 157px;
    margin: 4px;
    border: inset;
}
@media screen and (max-width: 500px){

    .fotoAbajo{
        width: 400px;
    }
    .container-fluid {
        display: flex;
        justify-content: space-around;
        
        // flex-direction: column;
    }
    .carousel{
    display: none;
    }
   .fondoPantalla{
    background-image: url(http://bettcomm.com/themes/classic/assets/img/fondotransparente.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    // background-attachment: fixed;
    // background-position: center center;
    
   }
.contenedorFotos{
    margin: 2px;
    justify-content: center;
}

footer{
    height: 240px;
    width: 97%;
}

}
@media screen and (max-width: 768px){
    .container-fluid {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    h1{
        margin: 90px;
    }
    .carousel{
    display: none;
    }
   .fondoPantalla{
    background-image: url(http://bettcomm.com/themes/classic/assets/img/fondotransparente.jpg);
    background-repeat: no-repeat;
    width: 100%;
   height: 100%;
}
.contenedorFotos{
    justify-items: center;
}
.correo{
    width: 100%;
}
.fotoAbajo{
    width: 100%;
}
}

@media screen and (max-width: 992px){
    .carousel{
        display: none;
        }
}
